  <div class="card-body">
      <div class="container-fluid">
        <table width="100%">
          <tr width="100%">
              <div class="row">
                  <div class="col-xs-6 col-md-4">
                      <div class="text-center">Developed by:</div>
                  </div>
                  <div class="col-xs-6 col-md-4">
                      <div class="text-center">
                          <h3>Vinayak Sawant</h3>
                        </div>
                  </div>
                  <div class="col-xs-6 col-md-4">
                      <div class="text-center">
                        <a target="_blank" href="https://www.linkedin.com/in/vinayak-sawant-1113228/">Linkedin</a>
                      </div>                    
                    </div>
                </div>
          </tr>
          <tr width="100%">
            <td>
                <div class="text-center">
                    <img src="./assets/images/welcomepage515.gif"
                         class="img-responsive center-block"
                         style="width:100%; max-height:525px;padding-bottom:1px" />
                  </div>            
            </td>
          </tr>        
        </table>
      </div>
    </div>  
